<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.baseurl == "" %}
      <link rel="stylesheet" href="/assets/css/app.css">
    {% else %}
      <link rel="stylesheet" href="{{site.baseurl}}/assets/css/app.css">
     {% endif %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.title }} - {{ site.title }}" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />  
  </head>
  <body>
    {% include header.html %}
    <main class="main" role="main">
    {% assign feedback_html = 'This is new &mdash; please <a href="' | append: site.feedbackUrl | append: '">say hello if you have any feedback</a> or view the <a href="https://github.com/WeTheCatalysts/formats-and-identifiers/projects/2">product backlog</a>' %}
      {% include phase-banner.html phase="Alpha" html=feedback_html %}
      {{ content }}
    </main>
  </body>
</html>
