---
layout: base
---
<section class="proto-style-block typography vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner bottom-border vertical-spacing-bottom-2">
        <h2 class="heading-small vertical-spacing-bottom-0-5">{{page.standard}} <span class="label">Proposal</span></h2>
        <h1 class="heading-large vertical-spacing-bottom-0-5">{{page.title}}</h1>
        <p class="body-copy-medium">
          {{page.description}}
        </p>
      </div>
    </div>
    <div class="column-full-width">
      <div class="inner bottom-border">
        {{content}}
      </div>
    </div>
  </div>
</section>
