---
layout: base
---
<section class="proposition-intro vertical-spacing-bottom-1-5 vertical-spacing-top-1-5">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner bottom-border-2">
        <h1 class="heading-extra-large vertical-spacing-bottom-0-5">{{page.title}}</h1>
        <p class="body-copy-large vertical-spacing-bottom">{{page.description}}</p>
      </div>
    </div>
  </div>
</section>
<section class="proto-style-block typography vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner bottom-border">
        {{ content }}
      </div>
    </div>
  </div>
</section>